html {
	height: 100%;
	font-size: 10pt;
}

html * {
	color: #000;
}

body {
	height: 100%;
	margin: 0px;
	background-color: #333;
}

a {
	text-decoration: none;
}

div {
	border: 0px solid #F00;
}

option {
	font-size: 16pt;
}

#head {
	width: 100%;
	text-align: center;
	font-size: 14pt;
	font-weight: bold;
	padding: 10px;
	background-color: #333;
}

#head * {
	color: #FFF;
}

#head .subtitle {
	font-size: 8pt;
}

#contents {
	width: 100%;
	text-align: center;
	background-color: #FFF;
}

#foot {
	clear: both;
	width: 100%;
	height: 20px;
	text-align: center;
	padding: 10px;
	border-top: 0px solid #666;
	margin-top: 10px;
	background-color: #333;
}

#foot * {
	color: #FFF;
	text-align: center;
}

#mapid {
	margin: 2px auto;
	width: 90%;
	height: 350px;
	border: 1px solid #666;
	/*
	height: 50%;
	*/
}	

#frm_select {
	margin: 0px auto;
	width: 90%;
	text-align: left;
}

#list {
	margin: 0px auto;
	width: 90%;
	text-align: left;
}

#list div {
	float: left;
	padding: 5px;
	margin: 0px 2px 2px 0px;
	line-height: 15px;
	border: 1px solid #666;
}

#info {
	text-align: right;
	clear: both;
	width: 90%;
	margin: 0px auto;
}

.items {
	text-align: left;
	width: 90%;
	clear: both;
	margin: 0px auto;
}

